* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url('./M1vMwjz.jpg');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;
}

.headers {
    background: rgba(111, 163, 148, 0.8);
    border-radius: 10px;
    margin: 20px;
    height: 80px;
}

h1 {
    color: blue;
}

h1, h2 {
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid aquamarine 2px;
    margin: 10px;
    border-radius: 10px;
    width: 215px;
    height: 240px;
    transition: all 0.5s;
    background: rgba(137, 172, 162, 0.4);
}

.picture img {
    height:200px;
    width:200px;
    border-radius: 10px;
    margin: 5px;
}

.picture p {
    text-align: center;
    color: white;
    font-weight: bold;
}